<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-5">
    <h1>Lista de alunos</h1>
    <div>
      <button class="btn btn-primary" routerLink="/">Voltar para a Página Inicial</button>
    </div>
  </div>
  
  <div class="mb-5">
    <button class="btn btn-success" routerLink="/add">Adicionar um aluno</button>
  </div>

  <table mat-table [dataSource]="students" class="mat-elevation-z8">

    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Ações">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <div class="action-buttons btn-group-vertical">
          <button class="btn btn-secondary ml-2" (click)="viewStudentDetails(element.id)">Detalhes</button>
          <button class="btn btn-info mr-2" (click)="editStudent(element.id)">Editar</button>
          <button class="btn btn-danger" (click)="confirmDeleteStudent(element)">Excluir</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>

  <div #confirmationModal class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar Exclusão</h5>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja excluir este aluno?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="deleteConfirmed()">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>
