<div class="container mt-4">
  <h2>Bem vindo ao sistema gerenciador de alunos!</h2>
  <p>Essa é a página inicial do sistema.</p>
  <h3>Informações sobre o sistema</h3>
  <h5>Desenvolvedor: Luiz Scofield da Silva</h5>
  
  <br />
  <p>
    Esse projeto tem o objetivo de manipular uma lista de estudantes. <br />
    É um simples sistema CRUD (CREATE, READ, UPDATE and DELETE), utilizando um JSON Server para armazenar os dados. <br />
    <br />
    Aqui, conseguimos realizar as seguintes operações: <br />
    <br />
    - Adicionar um aluno. <br >
    - Exibir um aluno. <br >
    - Editar um aluno. <br >
    - Excluir um aluno. <br >
  </p>
  <button class="btn btn-primary main-button" (click)="navigateToStudentList()">Clique aqui para ver a lista de alunos!</button>
</div>
